  <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#" onclick="window.open('http://www.facebook.com/sbssaf','new'); return false"><img src="/images/facebook_logo.png"/></a></li>
            <li role="presentation"><a href="#" onclick="window.open('http://twitter.com/SBSSAF','new'); return false"><img src="/images/twitter_logo.png"/></a></li>
            <li role="presentation"><a href="#" onclick="window.open('http://story.kakao.com/sbssaf','new'); return false"><img src="/images/kakao_logo.png"/></a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="http://www.sbs.co.kr"><img src="/images/white_logo.png" style="padding-top:10px;"/></a></h3>
      </div>
        <form role="form" action="/events/save_profile" method="post">

          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >
          <input name="provider" type="hidden" value="<%=@provider%>" >
          <input name="promotion" type="hidden" value="<%=@promotion.token%>" >
      <div class="jumbotron">
        <h1><img src="/images/big_logo.png"/></h1>
        <br><br>
        <h2>이벤트 참여 방법</h2>
        <p class="lead">1. 아래 양식을 작성해주세요. <br>
2. <input type="submit" value="저장" class="btn btn-info" style="padding:6px 12px; font-size:14px;"> 버튼을 클릭해주세요.<br>
        <%if @provider == "facebook"%>
          3. 이동하는 페이지에서 접수 확인 후 페이스북 댓글을 남기면 응모 완료!
        <%end%>
        </p>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
            <div class="form-group">
              <h3>이름</h3>
              <input type="text" class="form-control" placeholder="이름" required style="width:150px;" name="name">
              <h5 style="color:#bbb">티켓 교환 시 본인 확인이 되지 않을 경우 입장이 제한될 수 있으므로 반드시 실명 기재 바랍니다.</h5>
            </div>
            <br>
            <div class="form-group form-inline">
              <h3>연락처(휴대전화 번호)</h3>
              <input type="text" class="form-control"  required style="width:65px; display:inline-block;" name="phone1"> - 
              <input type="text" class="form-control"  required style="width:65px; display:inline-block;" name="phone2"> -
              <input type="text" class="form-control"  required style="width:65px; display:inline-block;" name="phone3">
              <h5 style="color:#bbb">모바일 티켓이 함께 발송되므로 휴대전화 번호를 정확히 기재해주세요.</h5>
            </div>
            <br>
            <div class="form-group">
              <h3>이메일 주소</h3>
              <input type="email" class="form-control"  required  placehorder="email" name="email">
            </div>
            <br>

            <input type="submit" class="btn btn-info" value="저장">
          </form>

        </div>
      </div>

      <footer class="footer">
        <p>© SBS&SBS Contents Hub.</p>
      </footer>

    </div> <!-- /container -->
