  <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#" onclick="window.open('http://www.facebook.com/sbssaf','new'); return false"><img src="/images/facebook_logo.png"/></a></li>
            <li role="presentation"><a href="#" onclick="window.open('http://twitter.com/SBSSAF','new'); return false"><img src="/images/twitter_logo.png"/></a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="http://www.sbs.co.kr"><img src="/images/white_logo.png" style="padding-top:10px;"/></a></h3>
      </div>
      <div class="jumbotron">
  <div class="fb-like" data-href="https://www.facebook.com/sbssaf" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  <h3>힐링캠프 김제동 토크콘서트 이벤트 참여 신청이 완료되었습니다.<br>
    당첨자들에게는 모바일 티켓이 개별 발송됩니다.<br>당첨되신 분들은 2월 25일 상암동 프리즘타워에서 만나요! (*신분증 지참)</h3>
      </div>


      <footer class="footer">
        <p>© SBS&SBS 소셜미디어팀</p>
      </footer>

    </div> <!-- /container -->
